.about_section {


    .about_container {


        .about_grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 1rem;

            .about_content {
                padding: 1.25rem;
                width: 80%;

                h3 {
                    font-size: .9rem;
                    font-weight: 400;
                    letter-spacing: .1rem;
                    color: rgba($light_black, 0.8);
                }

                h1 {
                    margin: 1.5rem 0rem;
                    font-size: 2.25rem;
                    font-weight: 500;

                }

                p {
                    margin-bottom: 1.25rem;
                    font-size: .9rem;
                    color: rgba($light_black, 0.6);
                }

                button {
                    padding: .9rem 1.875rem;
                    background: $button_bg;
                    border: none;
                    color: $white;
                    font-weight: bold;
                    @include transition();
                    outline: none;

                    &:hover {
                        box-shadow: 0px 20px 15px #b9b9b9cf;
                    }


                }
            }

            .about_img {
                width: 100%;

                img {
                    width: 95%;
                }



            }

        }
    }



}