@include phones {
    .clint_counter_section {
        height: 100vh;

        .clint_counter_container {
            .clint_counter_grid {
                display: grid;
                grid-template-columns: 1fr;

                .clint_counter_item {
                    padding: 1.5rem 0rem;

                }

            }
        }
    }
}

@include xs {
    .clint_counter_section {
        height: 100vh;

        .clint_counter_container {
            .clint_counter_grid {
                display: grid;
                grid-template-columns: 1fr;

                .clint_counter_item {
                    padding: 1.5rem 0rem;

                }

            }
        }
    }
}