.price_section {
    .price_container {
        .pricing_section_grid {
            display: grid;
            grid-template-columns: auto auto auto auto;
            text-align: center;

            .pricing_section_grid_iteam {
                @include transition ();
                padding: 2rem 1rem;

                &:hover {
                    background: $button_bg;
                    color: $white;
                    z-index: 10;
                    @include transform_scale(1.05);
                    @include transition ();

                }

                &:hover .price_div_number {
                    border-color: $pricing_border_hover;
                    color: $white;

                }

                &:hover .price_heading p,
                &:hover .price_list li,
                &:hover .price_heading h2 {
                    color: $white;
                }

                &:hover .price_div .price {
                    display: none;
                }

                &:hover .price_div .order {
                    display: block;
                }

                .price_div_number {
                    display: grid;
                    width: 70px;
                    height: 70px;
                    @include border-radius(100%);
                    border: 30px solid $pricing_border;
                    margin: auto;
                    margin-bottom: 1rem;

                    h1 {
                        align-self: center;
                        font-size: 1.25rem;
                        font-weight: 300;
                    }
                }

                .price_heading {
                    margin-bottom: 2rem;

                    h2 {
                        padding: 0.5rem 0rem;
                        color: $black;
                    }

                    p {
                        color: rgba($black, 0.6);
                    }
                }

                .price_list {
                    ul {
                        li {
                            color: rgba($black, 0.6);
                            padding: 1rem 0rem;
                            border-bottom: 1px solid $white;
                        }
                    }
                }

                .price_div {
                    margin-top: 2rem;

                    .price {
                        font-size: 2rem;
                    }

                    .order {
                        padding: .5rem 3rem;
                        background: $white;
                        display: block;
                        margin: auto;
                        font-size: 1.2rem;
                        display: none;
                        font-weight: 600;

                    }
                }
            }

        }
    }
}