//Container responsive part
.container {
    @include xs {
        width: 95%;
        position: relative;
    }

    @include phones {
        width: 540px;
        position: relative;
    }

    @include tablets {
        width: 720px;
        position: relative;
    }

    @include desktops {
        width: 960px;
        position: relative;
    }

    @include large_desktops {
        width: 1140px;
        position: relative;
    }
}