// color-variables-start 

$white: #fff;
$bg_color: #f9f9ff;
$black: #000;
$light_black: rgb(34, 34, 34);
$DodgerBlue: rgb(132, 144, 255);
$box_shadow_ul: #b7b5b585;
$button_bg: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
$pricing_border:rgba(132, 144, 255, 0.1);
$pricing_border_hover:rgba(255, 255, 255, 0.21);
$footer_bg:#04091e;



// color-variables-end